---
- name: Install latest versions of common packages.
  ansible.builtin.apt:
    name: "{{ common_installed_packages }}"
    state: latest
    update_cache: yes

- name: Install Python packages (if defined).
  ansible.builtin.pip:
    name: "{{ pip_packages }}"
    state: latest
  when: pip_packages is defined

# Related GitHub issue: https://github.com/geerlingguy/docker-ubuntu2404-ansible/issues/2
- name: Ensure Python system warning is removed.
  ansible.builtin.file:
    path: /usr/lib/python3.12/EXTERNALLY-MANAGED
    state: absent

- name: Configure server to automatically install security updates.
  ansible.builtin.template:
    src: "etc/apt/apt.conf.d/{{ item }}.j2"
    dest: "/etc/apt/apt.conf.d/{{ item }}"
    owner: root
    group: root
    mode: 0644
  with_items: 
    - 20auto-upgrades
    - 50unattended-upgrades

- name: "Set timezone to {{ server_timezone }}."
  community.general.timezone:
    name: "{{ server_timezone }}"
  notify: Restart cron