APT::Periodic::Update-Package-Lists "{{ apt_periodic_update_package_lists }}";
APT::Periodic::Download-Upgradeable-Packages "{{ apt_periodic_download_upgradeable_packages }}";
APT::Periodic::AutocleanInterval "{{ apt_periodic_autoclean_interval }}";
APT::Periodic::Unattended-Upgrade "{{ apt_periodic_unattended_upgrade }}";