---
- name: "DEPRECATION WARNING: serversideup.spin.swarm is deprecated"
  ansible.builtin.debug:
    msg: >-
      ⚠️ The 'serversideup.spin.swarm' role is deprecated and will be removed in a future release.
      Please use 'serversideup.spin.docker' instead.
  changed_when: true

- name: Include the docker role
  ansible.builtin.include_role:
    name: serversideup.spin.docker