# This file is managed by Ansible (serversideup.spin). Manual changes will be overwritten.
# Minutes sudo caches credentials, configured via the 'sudo_timestamp_timeout' variable.
Defaults timestamp_timeout={{ sudo_timestamp_timeout | int }}
